#requirements.txt

asgiref==3.10.0
attrs==25.4.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
coverage==7.12.0
crispy-bootstrap5==0.7
cssselect2==0.8.0
Django==5.2.7
django-crispy-forms==2.1
django-test-plus==2.3.0
django-weasyprint==2.4.0
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
factory-boy==3.3.0
Faker==19.6.2
fonttools==4.61.0
h11==0.16.0
idna==3.11
iniconfig==2.3.0
mysqlclient==2.2.7
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pillow==10.4.0
pluggy==1.6.0
pycparser==2.23
pydyf==0.11.0
Pygments==2.19.2
PyMySQL==1.1.2
pyphen==0.17.2
PySocks==1.7.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-django==4.5.2
python-dateutil==2.9.0.post0
python-decouple==3.8
reportlab==4.4.4
requirements.py==1.0.1
selenium==4.38.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.0.0
trio==0.32.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
websocket-client==1.9.0
wsproto==1.3.2
xlsxwriter==3.2.9
zopfli==0.4.0
